header{
    background-color: rgb(56 212 179);
}
.four{
    background-color: rgb(56 212 179);
    color: white;
}
.btn:hover{
    border-color: rgb(56 212 179);
    color:rgb(56 212 179);
    background-color: white;
}
.card{
    min-width: 200px;
}